:root {
  --color-back: #000;
  --color-nav: aliceblue;
  --color-hover-nav: #4E9F3D;
  --color-circle: #4E9F3D;
  --color-text: #fff;
  --color-text-sec : #4E9F3D;
  --shadow: #4E9F3D;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "system-ui";
}

html {
  scroll-behavior: smooth;
}