:root {
  --color-back: #111;
  --color-nav: aliceblue;
  --color-hover-nav: #bf6f9d;
  --color-circle: #fff;
  --color-text: #fff;
  --color-text-sec: #bf6f9d;
  --shadow: #d4e2d1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "system-ui";  
}

body {
  overflow-x: hidden;
  background-image: url("https://images8.alphacoders.com/375/375342.jpg");
  background-attachment: fixed;
  background-size: cover;  
}

html {
  scroll-behavior: smooth;  
}

