.project-section {
  background-image: url("https://avatarfiles.alphacoders.com/303/303309.jpg");
  padding-bottom: 10%;
  background-attachment: fixed;
}

#project-title {
  color: var(--color-text);
  text-align: center;
  width: 100%;
  font-size: 8rem;
}

.projects-list {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;  
  place-items: center;
}
.container-project {
  width: 400px;
  height: 400px;
  transition: transform 0.3s ease-in-out;
}

.container-project:hover {
  transform: scale(1.1);
}

.container-project img {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 20px var(--shadow);
  border-radius: 50%;
}

@media (max-width: 720px) {
  .project-section {
    width: 100vw;
  }

  #project-title {
    font-size: 4rem;
    text-align: center;
    padding-top: 30%;
  }

  .projects-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding: 10% 0;
    gap: 30px;
  }

  .container-project {
    width: 150px;
    height: 150px;
  }
}
