.container-skills {
  text-align: center;
}

.skills-grid {
  padding-bottom: 40px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  row-gap: 50px;
}

.skills-grid img {
  width: 100%;
  max-width: 80px;
  height: auto;
  display: block;
}

.tecnologia-title {
  font-size: 8rem;
  background: linear-gradient(to bottom, #ffffff 50%, black 50%);
  background-clip: text;
  color: transparent;
  transform: translateY(-49.8%);
}

@media (max-width: 720px) {
  .container-skills{
    max-width: 100vw;
  }

  .tecnologia-title {
    font-size: 4rem;
    text-align: center;
  }
}
