.container-skills {
  text-align: center;
  padding-top: 100px;
}

.skills-grid {
  padding-bottom: 40px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  row-gap: 30px;
}

.container-img {
  background-color: var(--color-text);
  backdrop-filter: blur(70px);
  width: 20%;
  height: 90%;
  display: flex;
  justify-content: center;
  padding: 2%;
  border-radius: 20%;
}

.skills-grid img {
  max-width: 100%;
  height: 100%;
}

.tecnologia-title {
  font-size: 7rem;
  color: var(--color-text);
}

@media (max-width: 720px) {
  .container-skills {
    max-width: 100vw;
  }

  .tecnologia-title {
    font-size: 3rem;
    text-align: center;
  }

  .container-img {
    width: 40%;
    height: auto;
  }
}
